<html>
  <head>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>


    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="/javascript/data.js"></script>
    <script src="/javascript/dashboard.js"></script>
    <script src="/javascript/tables.js"></script>
    <script src="/javascript/round.js"></script>
    <script src="/javascript/display.js"></script>
    <script src="/javascript/draft.js"></script>
    <script src="/javascript/layout.js"></script>
    <script src="/javascript/sort.js"></script>
    <script src="/javascript/events.js"></script>


  </body>
</html>
